.nav {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
    font-family: 'Cormorant', serif;
    background-color: rgb(197, 197, 197);

}

.nav ul li {
    list-style: none;

}

.nav a {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
}

.nav a:hover {
    opacity: 0.9;
    text-decoration: underline;
}