.nav {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    font-family: 'Anton', sans-serif;

}

.nav ul li {
    list-style: none;
}


.nav a {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    font-size: 2.5rem;
}
.left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.right {
    position: absolute;
    top: 0;
    right:0;
    width: 50%;
    display: flex;
    justify-content:space-around;
}


.white a{
    color: white;
}

.nav a:hover {
    opacity: 0.9;
    text-decoration: underline;
}