.newPost {
    position: absolute;
    width: 50%;
    height: 94%;
    right:0 ;
    top: 6%;
}

.newPost input {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%);
    height: 2rem;
    width: 15rem;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
}
    .newPost h1{
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translate(-50%);
}

.newPost textarea{
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    height: 400px;
    resize: none;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.newPost button {
    position: absolute;
    bottom: 12rem;
    right: 50%;
    transform: translate(50%);
    height: 3rem;
    width: auto;
    padding: 0 15px 0 15px;
    border-radius: 5px;
    border: 2px solid black;
}
.newPost button:hover{
    background-color: rgba(0, 255, 42, 0.315);
    cursor: pointer;
}

.login{
    position: absolute;
    height: 100%;
    width: 50%;
}
