.card {
    width: 100vw;
    position: absolute;
    top: 600px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card span {
    cursor: pointer;
}