@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,700;1,400&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.card {
  padding: 2em;
}

.wrapper {
  border:2px solid white;
  padding:20px 40px;
  border-radius: 10px;
  max-width: 400px;
}


/* navbar css properies  */
nav {
  position: absolute;
  top: 0;
  left:50%;
  transform: translate(-50%);
  border: 2px solid white;
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
  font-family:'Cormorant',serif;
  
}

nav ul li {
  list-style: none;
  
}
nav a {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  color: rgb(230, 221, 222);
  padding: 10px;
  text-decoration: none;
}
nav a:hover{
  opacity: 0.9;
  text-decoration: underline;
}


/* styling posts wrapper */

.card {
  max-width: 1440px;
  position: absolute;
  top: 150px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: flex-start;
}

.card span{
cursor: pointer;
}
