#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.card {
  padding: 2em;
}

.wrapper {
  border:2px solid white;
  padding:20px 40px;
  border-radius: 10px;
  max-width: 400px;
}


/* navbar css properies  */
nav {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}

nav ul li {
  list-style: none;
}


/* styling posts wrapper */

.card {
  max-width: 1440px;
  position: absolute;
  top: 150px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: flex-start;
}

.card div:hover{
cursor: pointer;
}