@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: Cormorant, sans-serif;

  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
